.flex-container {
    display: flex;
    align-items: top;
    justify-content: left;
    width: 250px;
    background: rgba(233, 205, 205, 0.5);
    height: 100%;
    overflow-y: auto;
  }

  .example-toolbar {
    position: fixed;
    z-index: 2;
    width: 250px;
  }