<div>
    <form>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name here .." required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Passport</mat-label>
                <input matInput placeholder="Passport Number here ..">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address here ..">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>PNR</mat-label>
                <input matInput placeholder="PNR here .." disabled>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Seat Number</mat-label>
                <input matInput placeholder="Seat Number here .." disabled>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Flight Number</mat-label>
                <input matInput placeholder="Flight Number here .." disabled>
            </mat-form-field>
        </div>
    </form>
</div>
